@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(red, 0.5);
  }

  100% {
    box-shadow: 0 0 0 5px rgba(red, 0);
  }
}

@keyframes preview-fade-in {
  0% {
    background-color: rgba(208, 177, 240, 0);
  }

  100% {
    background-color: rgba(208, 177, 240, 0.5);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
