$columns: 12;
$atom: (100% / $columns);

$break_xs: 539px;
$break_sm: 767px;
$break_md: 991px;
$break_lg: 1199px;
$break_xl: 1439px;

$offset: 30px;
$offset_xs: $offset;
$offset_sm: $offset;
$offset_md: $offset;
$offset_lg: $offset;
$offset_xl: $offset;

$offset_one_side: ($offset / 2);
$offset_xs_one_side: ($offset_xs / 2);
$offset_sm_one_side: ($offset_sm / 2);
$offset_md_one_side: ($offset_md / 2);
$offset_lg_one_side: ($offset_lg);
$offset_xl_one_side: ($offset_xl);

$fields: 15px;

@mixin container-full() {
    padding-left: $fields;
    padding-right: $fields;
}

@mixin row-offsets() {
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);
}

@mixin col-offsets($type) {
    #{$type}-left: $offset_one_side;
    #{$type}-right: $offset_one_side;
}

@mixin container() {
    @include container-full();
    max-width: 1170px;
    margin: 0 auto;
}

@mixin row-flex() {
    display: flex;
    flex-wrap: wrap;
    @include row-offsets();
}

@mixin col() {
    box-sizing: border-box;
    word-wrap: break-word;
    @include col-offsets(margin);
}

@mixin size($n) {
    $val: 100% / $columns * $n;
    width: #{calc(#{$val} - #{$offset})};
}

@mixin size-xs($n) {
    $val: 100% / $columns * $n;
    @include xs(width, #{calc(#{$val} - #{$offset_xs})});
}

@mixin size-sm($n) {
    $val: 100% / $columns * $n;
    @include sm(width, #{calc(#{$val} - #{$offset_sm})});
}

@mixin size-md($n) {
    $val: 100% / $columns * $n;
    @include md(width, #{calc(#{$val} - #{$offset_md})});
}

@mixin size-lg($n) {
    $val: 100% / $columns * $n;
    @include lg(width, #{calc(#{$val} - #{$offset_lg})});
}

@mixin size-xl($n) {
    $val: 100% / $columns * $n;
    @include xl(width, #{calc(#{$val} - #{$offset_xl})});
}

@mixin xs($name, $value) {
    @media screen and (max-width: $break_xs) {
        #{$name}: $value;
    }
}

@mixin xs-block() {
    @media screen and (max-width: $break_xs) {
        @content;
    }
}

@mixin sm($name, $value) {
    @media screen and (max-width: $break_sm) {
        #{$name}: $value;
    }
}

@mixin sm-block() {
    @media screen and (max-width: $break_sm) {
        @content;
    }
}

@mixin md($name, $value) {
    @media screen and (max-width: $break_md) {
        #{$name}: $value;
    }
}

@mixin md-block() {
    @media screen and (max-width: $break_md) {
        @content;
    }
}

@mixin lg($name, $value) {
    @media screen and (max-width: $break_lg) {
        #{$name}: $value;
    }
}

@mixin lg-block() {
    @media screen and (max-width: $break_lg) {
        @content;
    }
}

@mixin xl($name, $value) {
    @media screen and (max-width: $break_xl) {
        #{$name}: $value;
    }
}

@mixin xl-block() {
    @media screen and (max-width: $break_xl) {
        @content;
    }
}

@mixin block-padding() {
    padding: $fields;
}

