* {
    box-sizing: border-box;
    
    &::selection {
        background-color: $color-contrast;
        color: $color-primary;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    @include sm(font-size, 14px);
    background-color: #fff;
    color: $color-text;
}

h3 {
    margin: 0;
    font-size: 18px;

    @include sm(font-size, 16px);
}

a {
    text-decoration: none;
    color: $color-text;
}

.wrapper_outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.wrapper_inner {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";

    @include sm(font-size, 18px);
}

.btn_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    border: none;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color $default-transition;

    &:hover {
        background-color: darken($color-secondary, 10%);
    }
}

.btn_secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $color-secondary;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    transition: color $default-transition;
    width: max-content;

    &:hover {
        color: lighten($color-secondary, 20%);
        span {
            color: lighten($color-secondary, 20%);
        }
    }

    span {
        transition: color $default-transition;
        font-size: 34px;
        color: $color-secondary;

        @include sm(font-size, 28px);
    }
}

input[type="search"] {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 3px 0 3px 10px;

    &::placeholder {
        color: $color-secondary;
    }

    &:focus {
        outline: none;
        box-shadow: inset 0px 0px 0px 2px $color-contrast;
    }
}

.avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
        width: 100%;
    }
}