.header {
    @include block-padding();
    box-shadow: $default-box-shadow;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;

    &__logo {
        flex-shrink: 0;

        img {
            width: 150px;

            @include sm(width, 100px);
        }
    }

    &__search {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 500px;
        margin: 0 30px;

        .search {
            flex-grow: 1;
            display: flex;
            flex-wrap: nowrap;

            &__input {
                width: 100%;
            }

            &__btn {
                border-radius: 0 5px 5px 0;
                border-left: none;
            }
        }
    }

    &__profile {
        display: flex;
        flex-shrink: 0;

        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 10px;

            &:hover {
                .dropdown-content {
                    display: block;
                }

                .btn_primary {
                    background-color: $color-secondary;
                }
            }

            .btn_primary {
                background-color: $color-contrast;
                border: none;
                padding: 15px;

                @include sm(padding, 10px);

                & > span {
                    font-size: 18px;

                    @include sm(font-size, 16px);
                }
            }

            &-content {
                box-shadow: $default-box-shadow;
                display: none;
                position: absolute;
                background-color: #fff;
                border-radius: 5px;
                min-width: 160px;
                z-index: 1100;
                right: 0;
                overflow: hidden;
                & a {
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-secondary;
                    }
                    &:last-child {
                        color: red;

                        span {
                            color: inherit;
                        }
                    }

                    & span {
                        margin-right: 10px;
                        color: $color-primary;
                    }

                    &:hover {
                        background-color: lighten($color-secondary, 15%);
                    }
                }
            }
        }
    }
}
