.main {
    @include block-padding();
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;

    &__content {
        flex-grow: 1;

        .categories {
            overflow-x: scroll;
            overflow-y: hidden;
            display: grid;
            grid-auto-columns: max-content;
            column-gap: 15px;

            &::-webkit-scrollbar {
                display: none;
            }

            .category {
                grid-row: 1;
                border-radius: 15px;
                transform-origin: 0;
                padding: 5px 20px;
                text-transform: capitalize;

                &:first-child {
                    background-color: $color-contrast;
                    color: #fff;
                }
            }
        }

        .videos {
            display: grid;
            grid-template-columns: repeat(4, minmax(280px, 400px));
            grid-auto-rows: minmax(230px, max-content);
            column-gap: 15px;
            row-gap: 15px;

            @include xl-block() {
                grid-template-columns: repeat(3, minmax(280px, 400px));
            }

            @include md-block() {
                grid-template-columns: repeat(2, minmax(280px, 1fr));
            }

            @include sm-block() {
                grid-template-columns: 100%;
                column-gap: 0;
            }

            .video {
                height: 100%;
                display: flex;
                flex-direction: column;

                &__screen {
                    position: relative;
                    overflow: hidden;
                    max-height: 200px;
                    flex-grow: 1;

                    &:hover {
                        .screen__play {
                            display: flex;
                        }
                    }

                    .screen__live {
                        display: none;
                        color: #fff;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        background-color: red;
                        padding: 2px 5px;
                        border-radius: 2px;
                        font-size: 12px;
                        z-index: 500;
                    }

                    .screen__counter {
                        display: block;
                        color: #fff;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        background-color: rgba(0, 0, 0, 0.5);
                        padding: 2px 5px;
                        border-radius: 2px;
                        font-size: 12px;
                        z-index: 500;
                        transition: background-color $default-transition;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.7);
                        }
                    }

                    .screen__play {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                        align-items: center;
                        justify-content: center;
                        animation: preview-fade-in 0.3s forwards;
                        span {
                            color: #fff;
                            font-size: 36px;
                            animation: fade-in 0.3s forwards;
                        }
                    }

                    img {
                        max-width: 100%;
                        object-fit: contain;
                    }
                }

                &__desc {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    width: 100%;

                    .info {
                        overflow: hidden;
                        margin-left: 15px;

                        a {
                            transition: color $default-transition;

                            &:last-child {
                                color: rgba(0, 0, 0, 0.5);
                                font-size: 14px;
                            }

                            h3,
                            span {
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            &:hover {
                                color: $color-contrast;
                            }
                        }
                    }

                    .btn-more {
                        margin-left: auto;
                        span {
                            color: $color-primary;
                        }

                        &:hover {
                            span {
                                color: $color-secondary;
                            }
                        }
                    }
                }
            }

            .video_live {
                .screen__live {
                    display: block;
                }
            }
        }
    }

    &__footer {
        @include block-padding();
        margin-top: 30px;
        margin-bottom: -15px;
        text-align: center;
        border-top: 1px solid $color-primary;

        @include sm(margin-top, 15px);

        .footer__link {
            transition: color $default-transition;

            &:hover {
                color: $color-contrast;
            }
        }

        svg {
            width: 22px;
            height: 22px;
            vertical-align: middle;
        }
    }
}
