.sidebar {
    width: 240px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: $color-secondary;
    overflow: hidden;

    @include lg(width, auto);

    &__streamers {
        overflow-y: auto;
        overflow-x: hidden;
        flex-grow: 1;

        &::-webkit-scrollbar {
            display: none;
        }

        .streamer {
            @include block-padding();
            font-weight: 500;
            display: flex;
            align-items: center;
            transition: background-color $default-transition;

            &:hover {
                background-color: darken($color-secondary, 10%);
            }

            &__name {
                margin: 0 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color $default-transition;

                &:hover {
                    color: $color-contrast;
                }
            }

            &__online {
                margin-left: auto;
                position: relative;

                &:before {
                    position: absolute;
                    left: -12px;
                    top: 5px;
                    content: "";
                    background-color: red;
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    margin-right: 5px;
                    animation: pulse 1s infinite;
                }
            }

            &__ofline {
                margin-left: auto;
            }

            &__name,
            &__online,
            &__ofline {
                @include lg(display, none);
            }
        }
    }

    &__socials {
        @include block-padding();
        border-top: 1px solid #fff;

        @include lg(padding, 0);

        .socials {
            @include block-padding();
            background-color: $color-primary;

            &__title {
                text-align: center;
                color: #fff;

                @include lg(display, none);
            }

            &__links {
                display: flex;
                justify-content: space-around;
                margin-top: 10px;

                @include lg-block() {
                    flex-direction: column;
                    justify-content: space-between;
                    margin-top: 0;
                }

                .link {
                    display: block;

                    @include lg-block() {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }

                    svg {
                        width: 30px;
                        height: 30px;

                        path {
                            transition: all $default-transition;
                        }

                        &:hover {
                            path {
                                fill: $color-contrast;
                            }
                        }
                    }
                }
            }
        }
    }
}
