.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 100px;
    width: 100%;
    height: 450px;

    @include md-block() {
        height: 300px;
        padding: 30px 0 50px;
    }

    input[type="radio"] {
        display: none;
    }

    .container {
        width: 100%;
        max-width: 800px;
        max-height: 600px;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .slides {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slide {
        position: absolute;
        width: 70%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform $default-transition;
        cursor: pointer;

        @include md-block() {
            width: 66%;
        }
    }

    #item-1:checked ~ .slides #slide-3,
    #item-2:checked ~ .slides #slide-1,
    #item-3:checked ~ .slides #slide-2 {
        transform: translatex(-40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
    }

    #item-1:checked ~ .slides #slide-2,
    #item-2:checked ~ .slides #slide-3,
    #item-3:checked ~ .slides #slide-1 {
        transform: translatex(40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
    }

    #item-1:checked ~ .slides #slide-1,
    #item-2:checked ~ .slides #slide-2,
    #item-3:checked ~ .slides #slide-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;
        box-shadow: $default-box-shadow;
    }

    .video {
        height: 100%;
        display: flex;
        align-items: flex-start;
        background-color: $color-secondary;

        @include sm-block() {
            flex-direction: column;
        }

        &__screen {
            position: relative;
            overflow: hidden;
            height: 100%;
            flex-grow: 1;
            &:hover {
                .screen__play {
                    display: flex;
                }
            }

            .screen__live {
                display: none;
                color: #fff;
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: red;
                padding: 2px 5px;
                border-radius: 2px;
                font-size: 12px;
                z-index: 500;
            }

            .screen__counter {
                display: block;
                color: #fff;
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 2px 5px;
                border-radius: 2px;
                font-size: 12px;
                z-index: 500;
                transition: background-color $default-transition;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }

            .screen__play {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                align-items: center;
                justify-content: center;
                animation: preview-fade-in 0.3s forwards;
                span {
                    color: #fff;
                    font-size: 36px;
                    animation: fade-in 0.3s forwards;
                }
            }

            img {
                max-width: 100%;
                object-fit: contain;
            }
        }

        &__desc {
            @include block-padding();
            display: flex;
            align-items: center;
            width: 200px;

            @include sm(width, 100%);

            .info {
                overflow: hidden;
                margin-left: 15px;

                a {
                    transition: color $default-transition;

                    &:last-child {
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 14px;
                    }

                    h3,
                    span {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &:hover {
                        color: $color-contrast;
                    }
                }
            }
        }
    }

    .video_live {
        .screen__live {
            display: block;
        }
    }
}
