/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
}

@-webkit-keyframes preview-fade-in {
  0% {
    background-color: rgba(208, 177, 240, 0);
  }
  100% {
    background-color: rgba(208, 177, 240, 0.5);
  }
}

@keyframes preview-fade-in {
  0% {
    background-color: rgba(208, 177, 240, 0);
  }
  100% {
    background-color: rgba(208, 177, 240, 0.5);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #FFD543;
  color: #9058C9;
}

*::selection {
  background-color: #FFD543;
  color: #9058C9;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #4E3469;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

h3 {
  margin: 0;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: #4E3469;
}

.wrapper_outer {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

@media screen and (max-width: 767px) {
  .material-icons {
    font-size: 18px;
  }
}

.btn_primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D0B1F0;
  border: none;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn_primary:hover {
  background-color: #b686e8;
}

.btn_secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #D0B1F0;
  border: none;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn_secondary:hover {
  color: white;
}

.btn_secondary:hover span {
  color: white;
}

.btn_secondary span {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 34px;
  color: #D0B1F0;
}

@media screen and (max-width: 767px) {
  .btn_secondary span {
    font-size: 28px;
  }
}

input[type="search"] {
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 3px 0 3px 10px;
}

input[type="search"]::-webkit-input-placeholder {
  color: #D0B1F0;
}

input[type="search"]:-ms-input-placeholder {
  color: #D0B1F0;
}

input[type="search"]::-ms-input-placeholder {
  color: #D0B1F0;
}

input[type="search"]::placeholder {
  color: #D0B1F0;
}

input[type="search"]:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px #FFD543;
          box-shadow: inset 0px 0px 0px 2px #FFD543;
}

.avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.avatar img {
  width: 100%;
}

.header {
  padding: 15px;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9058C9;
}

.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__logo img {
  width: 150px;
}

@media screen and (max-width: 767px) {
  .header__logo img {
    width: 100px;
  }
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 500px;
  margin: 0 30px;
}

.header__search .search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__search .search__input {
  width: 100%;
}

.header__search .search__btn {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__profile .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.header__profile .dropdown:hover .dropdown-content {
  display: block;
}

.header__profile .dropdown:hover .btn_primary {
  background-color: #D0B1F0;
}

.header__profile .dropdown .btn_primary {
  background-color: #FFD543;
  border: none;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .header__profile .dropdown .btn_primary {
    padding: 10px;
  }
}

.header__profile .dropdown .btn_primary > span {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .header__profile .dropdown .btn_primary > span {
    font-size: 16px;
  }
}

.header__profile .dropdown-content {
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  min-width: 160px;
  z-index: 1100;
  right: 0;
  overflow: hidden;
}

.header__profile .dropdown-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.header__profile .dropdown-content a:not(:last-child) {
  border-bottom: 1px solid #D0B1F0;
}

.header__profile .dropdown-content a:last-child {
  color: red;
}

.header__profile .dropdown-content a:last-child span {
  color: inherit;
}

.header__profile .dropdown-content a span {
  margin-right: 10px;
  color: #9058C9;
}

.header__profile .dropdown-content a:hover {
  background-color: #f7f1fc;
}

.sidebar {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #D0B1F0;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .sidebar {
    width: auto;
  }
}

.sidebar__streamers {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar__streamers::-webkit-scrollbar {
  display: none;
}

.sidebar__streamers .streamer {
  padding: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.sidebar__streamers .streamer:hover {
  background-color: #b686e8;
}

.sidebar__streamers .streamer__name {
  margin: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.sidebar__streamers .streamer__name:hover {
  color: #FFD543;
}

.sidebar__streamers .streamer__online {
  margin-left: auto;
  position: relative;
}

.sidebar__streamers .streamer__online:before {
  position: absolute;
  left: -12px;
  top: 5px;
  content: "";
  background-color: red;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-right: 5px;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

.sidebar__streamers .streamer__ofline {
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .sidebar__streamers .streamer__name, .sidebar__streamers .streamer__online, .sidebar__streamers .streamer__ofline {
    display: none;
  }
}

.sidebar__socials {
  padding: 15px;
  border-top: 1px solid #fff;
}

@media screen and (max-width: 1199px) {
  .sidebar__socials {
    padding: 0;
  }
}

.sidebar__socials .socials {
  padding: 15px;
  background-color: #9058C9;
}

.sidebar__socials .socials__title {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .sidebar__socials .socials__title {
    display: none;
  }
}

.sidebar__socials .socials__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .sidebar__socials .socials__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
}

.sidebar__socials .socials__links .link {
  display: block;
}

@media screen and (max-width: 1199px) {
  .sidebar__socials .socials__links .link:not(:last-child) {
    margin-bottom: 10px;
  }
}

.sidebar__socials .socials__links .link svg {
  width: 30px;
  height: 30px;
}

.sidebar__socials .socials__links .link svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar__socials .socials__links .link svg:hover path {
  fill: #FFD543;
}

.main {
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__content .categories {
  overflow-x: scroll;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.main__content .categories::-webkit-scrollbar {
  display: none;
}

.main__content .categories .category {
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 15px;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  padding: 5px 20px;
  text-transform: capitalize;
}

.main__content .categories .category:first-child {
  background-color: #FFD543;
  color: #fff;
}

.main__content .videos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 400px))[4];
      grid-template-columns: repeat(4, minmax(280px, 400px));
  grid-auto-rows: minmax(230px, -webkit-max-content);
  grid-auto-rows: minmax(230px, max-content);
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}

@media screen and (max-width: 1439px) {
  .main__content .videos {
    -ms-grid-columns: (minmax(280px, 400px))[3];
        grid-template-columns: repeat(3, minmax(280px, 400px));
  }
}

@media screen and (max-width: 991px) {
  .main__content .videos {
    -ms-grid-columns: (minmax(280px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .main__content .videos {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.main__content .videos .video {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__content .videos .video__screen {
  position: relative;
  overflow: hidden;
  max-height: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__content .videos .video__screen:hover .screen__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content .videos .video__screen .screen__live {
  display: none;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 500;
}

.main__content .videos .video__screen .screen__counter {
  display: block;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 500;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.main__content .videos .video__screen .screen__counter:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.main__content .videos .video__screen .screen__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: preview-fade-in 0.3s forwards;
          animation: preview-fade-in 0.3s forwards;
}

.main__content .videos .video__screen .screen__play span {
  color: #fff;
  font-size: 36px;
  -webkit-animation: fade-in 0.3s forwards;
          animation: fade-in 0.3s forwards;
}

.main__content .videos .video__screen img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__content .videos .video__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 100%;
}

.main__content .videos .video__desc .info {
  overflow: hidden;
  margin-left: 15px;
}

.main__content .videos .video__desc .info a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main__content .videos .video__desc .info a:last-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.main__content .videos .video__desc .info a h3,
.main__content .videos .video__desc .info a span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main__content .videos .video__desc .info a:hover {
  color: #FFD543;
}

.main__content .videos .video__desc .btn-more {
  margin-left: auto;
}

.main__content .videos .video__desc .btn-more span {
  color: #9058C9;
}

.main__content .videos .video__desc .btn-more:hover span {
  color: #D0B1F0;
}

.main__content .videos .video_live .screen__live {
  display: block;
}

.main__footer {
  padding: 15px;
  margin-top: 30px;
  margin-bottom: -15px;
  text-align: center;
  border-top: 1px solid #9058C9;
}

@media screen and (max-width: 767px) {
  .main__footer {
    margin-top: 15px;
  }
}

.main__footer .footer__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main__footer .footer__link:hover {
  color: #FFD543;
}

.main__footer svg {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 100px;
  width: 100%;
  height: 450px;
}

@media screen and (max-width: 991px) {
  .slider {
    height: 300px;
    padding: 30px 0 50px;
  }
}

.slider input[type="radio"] {
  display: none;
}

.slider .container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider .slide {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .slider .slide {
    width: 66%;
  }
}

.slider #item-1:checked ~ .slides #slide-3,
.slider #item-2:checked ~ .slides #slide-1,
.slider #item-3:checked ~ .slides #slide-2 {
  -webkit-transform: translatex(-40%) scale(0.8);
          transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.slider #item-1:checked ~ .slides #slide-2,
.slider #item-2:checked ~ .slides #slide-3,
.slider #item-3:checked ~ .slides #slide-1 {
  -webkit-transform: translatex(40%) scale(0.8);
          transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.slider #item-1:checked ~ .slides #slide-1,
.slider #item-2:checked ~ .slides #slide-2,
.slider #item-3:checked ~ .slides #slide-3 {
  -webkit-transform: translatex(0) scale(1);
          transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.slider .video {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #D0B1F0;
}

@media screen and (max-width: 767px) {
  .slider .video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider .video__screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider .video__screen:hover .screen__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .video__screen .screen__live {
  display: none;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 500;
}

.slider .video__screen .screen__counter {
  display: block;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 500;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.slider .video__screen .screen__counter:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slider .video__screen .screen__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: preview-fade-in 0.3s forwards;
          animation: preview-fade-in 0.3s forwards;
}

.slider .video__screen .screen__play span {
  color: #fff;
  font-size: 36px;
  -webkit-animation: fade-in 0.3s forwards;
          animation: fade-in 0.3s forwards;
}

.slider .video__screen img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider .video__desc {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .slider .video__desc {
    width: 100%;
  }
}

.slider .video__desc .info {
  overflow: hidden;
  margin-left: 15px;
}

.slider .video__desc .info a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.slider .video__desc .info a:last-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.slider .video__desc .info a h3,
.slider .video__desc .info a span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slider .video__desc .info a:hover {
  color: #FFD543;
}

.slider .video_live .screen__live {
  display: block;
}
